@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
  }
  #slider {
    min-height: 80px;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 600px;
  }
  #slider ul {
    list-style: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9000px;
    transition: left 0.2s linear;
    -moz-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    -webkit-transition: left 0.2s linear;
    margin-left: -25px;
  }
  #slider ul li {
    font-family: "Montserrat", sans-serif;
    float: left;
    position: relative;
    width: 600px;
    display: inline-block;
    height: 200px;
  }
  /* Content */
  .slider-container {
    color: #04386a;
    font-size: 1.8em;
    font-weight: 900;
    line-height: 1.1;
    margin: 0 auto;
    max-width: 550px;
    min-height: 180px;
    padding: 0;
    text-align: center;
  }
  .slider-container span {
    color: rgba(4, 56, 106, 0.7);
    display: inline-block;
    font-size: 70%;
    font-weight: 300;
    line-height: 1.2;
  }
  /*** target hooks ****/
  @-webkit-keyframes slide-animation {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 1;
    }
    20% {
      left: 0px;
      opacity: 1;
    }
    22.5% {
      opacity: 0.6;
    }
    25% {
      left: -600px;
      opacity: 1;
    }
    45% {
      left: -600px;
      opacity: 1;
    }
    47.5% {
      opacity: 0.6;
    }
    50% {
      left: -1200px;
      opacity: 1;
    }
    70% {
      left: -1200px;
      opacity: 1;
    }
    72.5% {
      opacity: 0.6;
    }
    75% {
      left: -1800px;
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    98% {
      left: -1800px;
      opacity: 0;
    }
    100% {
      left: 0px;
      opacity: 0;
    }
  }
  #slider ul {
    -webkit-animation: slide-animation 20s infinite;
  }
  #slider ul:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
  