@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
  }
#title{
    background-color: red;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 900 !important;
    color: white;
}

#slideset1 {
    height: 10em; 
    position: relative;
    margin-left: 30%;
}
#slideset1 > * {visibility: hidden; position: absolute;
    top: 0; left: 0; animation: 24s autoplay1 infinite}
 @keyframes autoplay1 {
     /* from{
         margin-left: 100%;
         width: 300%;
     }
     to{
         margin-left: 0%;
         width: 300%;
     } */
     0% {visibility:visible }
     16.5% {visibility: hidden}
 }
 #slideset1 > *:nth-child(1) {animation-delay: 0s}
 #slideset1 > *:nth-child(2) {animation-delay: 4s}
 #slideset1 > *:nth-child(3) {animation-delay: 8s}
 #slideset1 > *:nth-child(4) {animation-delay: 12s}
 #slideset1 > *:nth-child(5) {animation-delay: 16s}
 #slideset1 > *:nth-child(6) {animation-delay: 20s}

  /*** target hooks ****/
  /* @-webkit-keyframes slide-animation {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 1;
    }
    20% {
      left: 0px;
      opacity: 1;
    }
    22.5% {
      opacity: 0.6;
    }
    25% {
      left: -600px;
      opacity: 1;
    }
    45% {
      left: -600px;
      opacity: 1;
    }
    47.5% {
      opacity: 0.6;
    }
    50% {
      left: -1200px;
      opacity: 1;
    }
    70% {
      left: -1200px;
      opacity: 1;
    }
    72.5% {
      opacity: 0.6;
    }
    75% {
      left: -1800px;
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    98% {
      left: -1800px;
      opacity: 0;
    }
    100% {
      left: 0px;
      opacity: 0;
    }
  } */
  /* #slider ul {
    -webkit-animation: slide-animation 20s infinite;
  }
  #slider ul:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
  } */


