@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*, html{
  scroll-behavior: auto !important; 
}



a:hover {
  color: red !important;
}

.link{
  margin-right: 20px;
}

.body{
  background-color: #B8BDB5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #logo{
  width: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 0;
  max-height: 54%;
  display: inline-block;
  float: none;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
} */


